/* author: Kevin Omar Yañez Bran */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  gap: 15px;
}

ion-item {
  width: 100%;
  max-width: 300px;
}

ion-button {
  --background: #4a90e2; 
  --color: white;
  width: 100%;
  max-width: 300px;
  transition: background 0.3s ease-in-out;
}

ion-button:disabled {
  --background: #b0bec5 !important; 
  --color: #ffffff !important;
  opacity: 0.6;
  cursor: not-allowed;
}

